<script src="static/voice-mode/recorder.min.js"></script>
<button id="start" style="width: 100%; height: 80%;" class="settings_button">start</button>
<button id="stopButton" style="width: 100%; height: 80%;" class="settings_button hidden">stop</button>

<script>
	var recorder = new Recorder({
		monitorGain: 0,
		recordingGain: 1,
		numberOfChannels: 1,
		//wavBitDepth: 8,
		encoderSampleRate: 24000,
		//encoderPath: "static/voice-mode/waveWorker.min.js"
		encoderPath: "static/voice-mode/encoderWorker.min.js"
	});

	stopButton.addEventListener( "click", function(){ recorder.stop(); });
	start.addEventListener( "click", function(){ 
		tts.cancel()
		recorder.start();
	});

	recorder.onstart = function(){
		start.classList.add("hidden");
		stopButton.classList.remove("hidden")
	};

	recorder.onstop = function(){
		start.classList.remove("hidden");
		stopButton.classList.add("hidden")
	};

	recorder.ondataavailable = function( typedArray ){
		var dataBlob = new Blob( [typedArray], { type: 'audio/wav' } );
		socket.emit('stt', {'audio_data': dataBlob});
	};


</script>